#navbarbanner {
    background: url(images/banner.jpg) !important;
    background-size: cover;
}
.navbar-brand{
    color: whitesmoke !important;
    font-size: 28px;
    font-weight: 300 !important;
    
}
.navbar-brand span{
    color: #66697e !important;
    font-weight: 800 !important;
    
}
.navbar{
    padding-top: 35px;
    padding-bottom: 35px;
    margin-right: 160px;
    margin-left: 160px;
    height: 50px;
    border-bottom: solid  rgba(255, 255, 255, 0.5);
}
.bg-light {
    background-color: rgba(0, 0, 0, 0) !important;
}
.nav-link{
    color: whitesmoke !important;
}

/* Info Section */           

#info {
    
    padding-bottom: 450px;
    height: 325px;
    
}


#info .col-md-12 {
    text-align: center;
    margin-right: 200px;
    margin-top: 100px;
    color: white;
    
    
   
}
.col-md-12 h3{
    font-size: 40px;
    text-transform: uppercase;
}

/* Features Section */ 
#features .fa {
    font-size: 40px;
    color:#e94c4c;
}
#features h3{
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 14px; 
}


/*Our Team Section */

#team .card {
    border: none;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.5s ease;
}

#team .card:hover {
    opacity: 1;
}

#team .fa {
    font-size: 23px;
}
.card-block p{
    font-size:14px; text-align: left;
}
.teaminfo{
    position: relative;
    height: 300px;
}
.infosocial{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
}
.infosocial > a{
  
    margin-right: 20px;
}

/* Works Section */
#works{
    padding-top: 60px;
}

#works .col-md-3 {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

#works h4 {
    font-size: 16px;
    font-weight: 300;
}

#works .fa {
    
    font-size: 24;
    font-weight: 20px;
}

#works p {
    font-size: 14px;
    font-weight: 300;
}

.imageContainer {
    position: relative;
    cursor: pointer;
}

.imageOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #d34040;
    opacity: 0;
    transition: 0.4s ease;
}

.imageContainer:hover .imageOverlay {
    opacity: 0.5;
}

.imageText {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Testimonials Section */

.col-md-8 {
    background: #53354a;
    padding-left: 0;
    padding-right: 0;
}

.carousel-item {
    background: #53354a;
}

.CourselText {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#caro{
position: relative;
}
#carocontent{
position: absolute;
top: 20%;
bottom: 20%;
right: 20%;
left: -10%;


}
#caro1{
    position: relative;
    }
#carocontent1{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    }


/* Download Section */

#button {
    background-color: #e84545;
    color: white;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 6px;
}

#DownloadHead {
    font-size: 30px;
    font-weight: 350;
}

#DownloadBody {
    font-size: 15px;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 20px;
}


/*Footer Section*/

#FooterTop {
    background-color: #3a3e64;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    
    color: white;
}
#locBody1{
    font-size: 14px;
    padding-top: 3px;
}
#locBody2{
    margin-top: -5px;
}

.col-md-2 {
    margin-top: 60px;
}

#FooterBottom {
    color: white;
    background-color: #313454;
    height: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    
}
